footer{
	width: 100%;
	margin-top: 5%;
	background-color: black;
	color:white;
}

span{
	color:red;
}

p a:hover{
	color:white;

	text-decoration: none;
}

p a{
	color:#c1c1c1c1;
}

a i{
	color:white;
}

a i:hover{
	color:#c1c1c1c1;
}
