@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700');
/*@font-family: 'Roboto', sans-serif;*/
/*________________________________TAG________________________________*/
#legal{
	width: 100%;
	height: auto;
}
div .bgPhoto{
	width: 100%;
	text-align: center;
}

#legal img{
	width: 50%;
}



#legal h1{
	text-align: center;
}

#legal h4{
	text-align: center;
	margin-top: 10%;
	border-bottom: 1px solid #2c353b;

}

#legal div .main{
	display: inline-block;
	margin-bottom: 5%;
}

#legal div .sub{
	width: 100%;
}

#legal p{
	font-weight: 300;
	line-height: 1.5em;
	height: 13%;
}

#legal div{
	padding-bottom: 1%;
}

.POhover h4, .TChover h4{
	color:#da172a;

}

.SubTC, .SubPO{
	border-bottom: 5px solid white;
}
.PO h1, .TC h1{
	color: #da172a;
}



a#cRetour{
	width: 100%;
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:relative; bottom: 0;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
  vertical-align: center;
  display: inline-block;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
